---
import Container from '../shared/Container.astro';

---

<Container>
  <section class="py-24">
  <div class="max-w-xl mx-auto text-center space-y-6">
    <h2 class="text-3xl font-black">Télécharger nos modèles</h2>
    <p>Tous nos modèles sont disponibles dans un seul PDF.</p>

    <a 
      href="/pdf/Artémiss-creations.pdf" 
      download 
      class="inline-block bg-primary text-white font-bold py-3 px-6 rounded hover:opacity-90"
    >
      Télécharger le PDF
    </a>
  </div>
</section>
</Container>