---
import Container from '../shared/Container.astro';
import Timeline from './Timeline.astro';
import { Image } from 'astro:assets';
import philosophyImage from '../../assets/img/about-page-img-06.jpg';
import emailjs from "@emailjs/browser";


---


<section class="py-24 bg-slate-100 dark:bg-slate-900">
  <Container>
    <div class="max-w-2xl mx-auto space-y-8">
      
      <h2 class="text-3xl font-black text-center">Contactez-nous</h2>

      <form id="contact-form" class="space-y-6">
        
        <div class="grid md:grid-cols-2 gap-6">
          <input
            type="text"
            name="firstName"
            placeholder="Prénom"
            required
            class="w-full p-3 rounded bg-white dark:bg-slate-800 border"
          />

          <input
            type="text"
            name="lastName"
            placeholder="Nom"
            required
            class="w-full p-3 rounded bg-white dark:bg-slate-800 border"
          />
        </div>

        <input
          type="email"
          name="email"
          placeholder="Adresse email"
          required
          class="w-full p-3 rounded bg-white dark:bg-slate-800 border"
        />

        <textarea
          name="message"
          rows="5"
          placeholder="Votre message..."
          required
          class="w-full p-3 rounded bg-white dark:bg-slate-800 border"
        ></textarea>

        <button
          type="submit"
          class="w-full bg-primary text-white py-3 rounded font-bold hover:opacity-90"
        >
          Envoyer
        </button>

      </form>

      <p id="status" class="text-center text-sm"></p>
    </div>
  </Container>
</section>



<script>
  import emailjs from '@emailjs/browser';

  window.addEventListener("DOMContentLoaded", () => {
    emailjs.init("XERsmYgcFu3V25GfG");

    const form = document.getElementById("contact-form");
    const status = document.getElementById("status");

    form.addEventListener("submit", function (e) {
      e.preventDefault();

      emailjs.sendForm(
        "service_testAdmin",
      "template_lrfxf6p",
        this
      )
      .then(() => {
        status.innerText = "✅ Message envoyé !";
        form.reset();
      })
      .catch((error) => {
        status.innerText = "❌ Erreur";
        console.error(error);
      });
    });
  });
</script>